* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: auto;
    margin: 0;
    box-sizing: border-box;
    font-weight: 200;
}

body, html {
    height: 100%;
    background-color: #334B35;
    color: #FFFFFF;
    text-shadow: #1A1A1A;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    line-height: 150%;
}

h4 {
    margin-bottom: 2rem;
    text-shadow: #1A1A1A;
    line-height: 1rem;
    font-size: 1.25rem;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.25rem;
}

.nav-links ul {
    display: flex;
    gap: 2em;
    list-style: none;
    cursor: pointer;
}


.nav-links a {
    color: #FFFFFF;
    text-decoration: none;
    -webkit-text-stroke: 1px gray;
}

.nav-links a {
    text-decoration: none;
    position: relative; 
}

.nav-links a:hover {
    padding-bottom: 8px;
}

.nav-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px; 
    background-color: #F7C35F;
    transform: scaleX(0); 
    transition: transform 0.3s ease; 
}

.nav-links a:hover::after {
    transform: scaleX(1); 
}

#hero {
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(to right, rgba(38, 60, 40, 1), rgba(38, 60, 40, .8), rgba(38, 60, 40, 0.22), rgba(38, 60, 40, 0)), url('imagehero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero {
    width: 90%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.hero-content {
    position: absolute;
}

.hero .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    max-width: 50%;
    line-height: 140%;
}

.hero .hero-content h1 span {
    color: #F7C35F;
}

.hero .hero-content h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    position: relative;
}

.hero .hero-content h3::after {
    content: '';
    position: absolute;
    bottom: -.25em; 
    right: 0.5rem;
    height: 1rem;
    width: 100%;
    background-image: url('Underline_01.svg');
    background-repeat: no-repeat;
    
}

.hero .hero-content p {
    max-width: 60%;
    -webkit-text-stroke: 1px gray;
    line-height: 120%;
}

.hero .hero-content a {
    text-decoration: none;
    display: inline-block;
    background-color: #F7C35F;
    color: #1A1A1A;
    font-size: .75rem;
    border-radius: 12px;
    padding: 1.5em 3em;
    margin-top: 2rem;
}

.image img {
    margin: 24px;
    border-radius: 12px;
    position: relative;
    top: 2px;
    left: 2px;
    z-index: 1;
}

.intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    color: #FFFFFF;
    width: 80%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.details {
    background-color: #6D8C54;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24rem;
    border-radius: 18px;
    position: relative;
    top: -4rem;
    left: 8rem;
    z-index: 2;
}

.details h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-weight: 500;
}


.content h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
}

.content h3 {
    color: #F7C35F;
    margin-bottom: 1.75rem;
}

.content h4 {
    margin-bottom: 2rem;
}

.content p {
    margin-bottom: 2rem;
}

.content ul li {
    padding: .5rem;
}

.categories .heading {
    align-items: center;
    justify-content: center;
    padding: 12px;
    text-align: center;
}

.categories .heading h4 {
    margin-bottom: 2rem;
}

.fruits {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.fruit {
    text-align: center;
    align-items: center;
    justify-content: center;
    background: rgba(217, 217, 217, .1);
    border-radius: 12px;
    margin: 3rem;
    padding: 1rem 2rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(18.7px);
    -webkit-backdrop-filter: blur(18.7px);
    border: 1px solid rgba(51, 75, 53, 0.35);
}

.fruit:hover {
    background-color: #F7C35F;
    color: #1A1A1A;
}

.fruit img {
    margin-bottom: 1rem;
}

#video {
    margin-top: 4rem;
    width: 100%;
    height: 40vh;
    background-image: linear-gradient(to right, rgba(38, 60, 40, 1), rgba(38, 60, 40, .8), rgba(0, 0, 0, 0.22), rgba(38, 60, 40, 0)), url('image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.video {
    display: grid;
    grid-template-columns: 24rem 120px;
    gap: 2rem;
    width: 80%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}

.play {
    align-items: center;
    justify-content: center;
}

#comp-projects {
    width: 100%;
    height: 50vh;
    background-image: url('style.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.comp-projects {
    width: 90%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 0;
}

.projects-heading {
    text-align: center;
    margin-bottom: 2rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.card img {
    height: 12rem;
    width: 12rem;
    border-radius: .3rem;
    transition: transform 0.3s ease;
}

.card img:hover {
    cursor: pointer;
    border: 1px solid #F7C35F;
    transform: translateY(-1.5rem);
}


#testimonials {
    position: relative;
}

.test-heading {
    margin: 0 auto;
    padding: 4rem 0;
    text-align: center;
    margin-bottom: 2rem;
}

.test {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 2rem;
}

.test p {
    font-weight: .5rem;
    text-shadow: #1A1A1A;
    -webkit-text-stroke: 1px gray;
    margin-bottom: 1rem;
    line-height: 1.5rem;
}

.facecard img {
    border-radius: 12rem;
}

.agriculture {
    position: relative;
    display: flex;
    background-color: #6D8C54; 
    align-items: stretch;
}

.img-agri {
    position: relative;
}

.img-agri .bg-image {
    position: relative;
    width: 100%;
    height: 100%;
}

.img-agri .trademark {
    position: absolute;
    z-index: 2;
    top: 3rem;
    right: -3rem;
}

.content-agri {
    margin: 5rem;
    display: flex;
    flex-direction: column;
}

.agri-details {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    margin: 3rem;
}

.agri-details .agriContent {
    flex: 1;
}

.growth {
    border-bottom: 1px dashed #FFFFFF; 
    padding-bottom: 3rem; 
    margin-bottom: 3rem; 
}

.top-right-svg {
    position: absolute;
    top: 0;
    right: 0;
}

.bottom-right-svg {
    position: absolute;
    bottom: 0;
    right: 0;
}

#news {
    width: 100%;
    height: 40vh;
    background-image: url('news_bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.news {
    width: 90%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 0;
}

.news-heading {
    text-align: center;
    margin-bottom: 2rem;
}



/* 
.card {
  background: #fff;
  border-radius: 8px;
  @include box-shadow;
  transition: all 300ms ease;
  
  &:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
  
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px 32px;
  }
  
  &__cover {
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 8px 8px 0 0;
    position: relative;
  }
  
  &__tag {
    background: $red;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 20px;
    padding: 3px 8px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff
  }
  
  &__body {
    padding: 20px;
  }
  
  &__title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  
  &__desc {
    margin-bottom: 20px;
    font-size: 15px;
    color: $text-light;
    line-height: 1.6;
  }
}

.card__cover {
  &--one {
        background-image: url(https://cdn.dribbble.com/users/250235/screenshots/7885863/media/b2a6d5fb3c27de51d1c0c424296460ba.png);
  }
  
  &--two {
    background-image: url(https://cdn.dribbble.com/users/769121/screenshots/11112077/media/1445dc22a15c2590ac332fc20abaf2df.jpg);
  }
  
  &--three {
    background-image: url(https://cdn.dribbble.com/users/772985/screenshots/6034403/link_4x.png?compress=1&resize=1200x900);
  }
}

#huck {
  max-width: 80px;
  position: fixed;
  right: 0;
  bottom: 0;
} */

#contact {
    display: flex;
    align-items: stretch;
    padding: 4rem;
    border-bottom: 1px #F7C35F; 
    padding-bottom: 3rem; 
    margin-bottom: 3rem; 
    border-bottom: 1px dashed #FFFFFF;
}

.address {
    margin: 3rem;
    max-width: 40%;

}

.address p .title {
    font-size: .25;
    margin-bottom: 3rem;
}


input {
    background-color: #263C28;
    color: #FFFFFF;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
}

::placeholder {
    color: #FFFFFF;
    opacity: 1;
    text-shadow: #000000;

}

.button {
    text-decoration: none;
    display: inline-block;
    background-color: #F7C35F;
    color: #1A1A1A;
    font-size: .75rem;
    border-radius: 12px;
    padding: 1.5em 3em;
    margin-top: 2rem;
}

.socials {
    display: flex;
    padding: 3rem;
    align-items: center;
    justify-content: space-around;
}

#discover {
    width: 100%;
    height: 30vh;
    background-image: linear-gradient(to right, rgba(248, 204, 119, 1), rgba(248, 204, 119, .2)), url('agrimarket.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.discover {
    width: 90%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: #263C28;
}

.disc-header {
    display: flex;
    align-items: center;
}

.discover a {

    justify-content: flex-end;
}

footer a {
    text-decoration: none;
    color: gray;
    cursor: pointer;
}

.row {
    display: flex;
    padding: 2rem;
    gap: 2rem;
}

.row2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}